<div class="cont" style="margin-top: 5px;">
    <table>
        <tr>
            <td>Account Number</td>
            <td>Balance</td>
            <td>Currency</td>
        </tr>
        {{!-- Iterate over each account --}}
        {{#each accountsArr}}
            <tr>
                <td>{{this.ID}}</td>
                <td>{{this.balance}}</td>
                <td>{{this.currency}}</td>
            </tr>
        {{/each}}
    </table>
</div>