<div class="contForm" style="margin-top: 5px">
    <form method='post' action='/adminAddAccount'>
        <input type="text" name="username" placeholder="Username">
        <input type="text" name="accID" placeholder="Account Number (optional)">
        <br><br>
        <button type="submit" formmethod="post" class="buttonSmall">Add Account</button>
    </form>
</div>