<div class="contForm" style="margin-top: 5px">
    <form method='post' action='/adminViewAccounts'>
        <input type="text" name="accUsername" placeholder="Username">
        <br><br>
        <button type="submit" formmethod="post" class="buttonSmall">View Accounts</button>
    </form>
</div>