<div class="cont" style="margin-top: 5px;">
    Credit Card Points
    <h2> {{cardPoints}} </h2>
    <form action="/redeemPoints/{{cardID}}" method="post">
        <button type="submit">Redeem as Cashback</button>
    </form>
</div>