<div class="navbar">
    <a onclick='toggleMenu()' style="padding-top: 5px;"><img src="/Hamburger_icon.svg"></a>
    <a href="/dashboard">United Bank of Trust</a>
    <a onclick="toggleNotifs()">Bell Icon</a>
</div>
{{#each errorArr}}
    <script>
        alert("{{this}}");
    </script>
{{/each}}
{{#each successArr}}
    <script>
        alert("{{this}}");
    </script>
{{/each}}

<div id="menuOverlay">
    {{!-- Top --}}
    <div>
        <p>General</p>
        <a href="/sendAnnouncement">Send an Announcement</a>
    </div>
    {{!-- Bottom --}}
    <div>
        <a href="reportTech">Report an Issue</a>
        <a href="/logout">Log out</a>
    </div>
</div>

<div id="overlayPanel" onclick="toggleNotifs()">
    <div class="contNotifs">
        <section class="notifs">
            {{#each notifs}}
               <a> - {{this}} </a> <br>
            {{/each}}
        </section>
    </div>
    <div style="margin-top: 20px;">
        <form action="clearNotifs" method="post">
            <button type="submit" formmethod="post" class="buttonLogin">Clear</button>
        </form>
    </div>
</div>

<script>
    function toggleMenu() {
        let display = document.getElementById("menuOverlay")?.style?.display || "none";
        
        document.getElementById("menuOverlay").style.display = (display == "none") ? "flex":"none";
    }

    function toggleNotifs() {
        let display = document.getElementById("overlayPanel")?.style?.display || "none";
        
        document.getElementById("overlayPanel").style.display = (display == "none") ? "flex":"none";
    }
</script>