<div align="center">
    <div class="contForm">
        <div>
            Login<br>
            <p style="text-align: left;">  Access your Internet Banking Account </p>
        </div>
        <form method="POST" action="/login">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <br><br>
            <button type="submit" formmethod="post" class="buttonLogin">Login</button>
        </form>
        <a href="registration">Register</a>
    </div>
</div>