<div class="cont">
    Report a Technical Issue
    <form action="reportTech" method="post">
        <input type="text" name="cat" placeholder="category" required>
        <input type="text" name="desc" placeholder="description" required>
        <br>
        <button type="submit">Report</button>
    </form>
</div>