/* * {
    border: 1px solid black;
} */

body {
    margin: 0px;
}

table {
    border-collapse: separate;
    width: 100%;
    table-layout: fixed;
    border-spacing: 15px 0;
}

td {
    vertical-align: middle;
    text-align: center;
}

th {
    border-bottom: 1px solid black;
    padding: 5px 0;
}

tr {
    padding: 0px 6px;
}

input {
    border-radius: 4px;
    font-size: 18px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 2px solid rebeccapurple;
}

input:focus {
    border: 2px solid grey;
}

input:focus::placeholder {
    color: transparent;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(86, 86, 86);
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(86, 86, 86);
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(86, 86, 86);
}


button {
    border-radius: 14px;
    padding: 14px 40px;
    font-size: 14px;
    text-align: center;
    display: inline-block;
}

.buttonSmall {
    font-size: 8px;
    padding: 8px 26px;
}

.buttonLogin {
    transition-duration: 0.6s;
    padding: 14px 40px;
    background-color: rebeccapurple;
    color: #ddd;
}

.buttonLogin:hover {
    border-radius: 10px;
}

.cont {
    border-radius: 14px;
    background-color: #ddd;
    padding: 12px 30px;
    border: 2px solid rebeccapurple;
    min-width: 520px;
}

.contNotifs {
    width: 30vw;
    min-width: fit-content;
    overflow-wrap: break-word;
    display: block;
    border-radius: 14px;
    background-color: #ddd;
    padding: 12px 30px;
    border: 2px solid rebeccapurple;
}

.contNotifs .notifs {
    margin: auto;
}

.contForm {
    margin-top: 10%;
    width: min-content;
    border-radius: 14px;
    padding: 12px 30px;
    background-color: #ddd;
    border: 2px solid rebeccapurple;
}

/* The navigation bar */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 520px;
    background-color: rebeccapurple;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    height: 46px;
    width: 100%; /* Full width */
}
  
/* Links inside the navbar */
.navbar a {
    float: left;
    display:block;
    color: #f2f2f2;
    text-align: center;
    padding: 0px 16px;
    height: 100%;
    text-decoration: none;
}
  
/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

#overlayPanel {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    padding-top: 20svh;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(70, 70, 70, 0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

#overlayPanelCard {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    padding-top: 20svh;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(70, 70, 70, 0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

#menuOverlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    flex-direction: column;
    justify-content: space-between;
    width: 180px; 
    height: (100% - 46px); /* Full height (cover the whole page) */
    top: 46px;
    left: 0;
    bottom: 0;
    background-color: rgba(70, 70, 70, 0.9); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

#menuOverlay a {
    cursor: pointer; /* Add a pointer on hover */
    text-align: left;
    padding: 14px 0px;
    width: 100%;
    display: block;
    text-decoration: none;
    color: #f2f2f2;
}

#menuOverlay a:hover {
    background: #ddd;
    color: black;
}

.mainContent {
    margin: 60px 5px 0px 5px; /* Add a top margin to avoid content overlay */
}

.mainContent .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
    gap: 10px 20px;
}